<h1>Bienvenido</h1>
<p>Página de inicio</p>
<p>UNAN-León</p>
<h3>Imprimiendo un array Ruby dentro de una vista</h3>
<% @dias_semana.each do |dia| %>
<%= dia %> <br>
<% end %>
<h3> Método last</h3>
<%= @dias_semana.last %>
<h4>Datos del array</h4>
<p><strong>Primer campo del array:</strong> <%= @dias_semana.first %></p>
<p><strong>Dimension del array:</strong> <%= @dias_semana.size %></p>
