<h1>Segundo controlador</h1>
<h5>Hashes</h5>

<table border="1">

<tr>
	<tr><th>nombre</th>
	<td><%= @persona[:nombre] %></td>
</tr>

<tr>
<th>apellido</th>
<td><%= @persona[:apellido] %></td>
</tr>

<tr>
	<th>telefono</th>
	<td><%= @persona[:telefono] %></td>
</tr>>

<tr>
	<th>correo</th>
	<td><%= @persona[:correo] %></td>
</tr>

</tr>

</table>