// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1
{
color: red;
height: 30px;
text-align: center;
}
p
{
height:15px;
text-align: center;
}
h4
{
color: red;
height: 30px;
text-align: center;
}
p
{
height:15px;
text-align: center;
}